In [1]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
import warnings
import joblib

warnings.filterwarnings("ignore")
sys.path.insert(0,'..')

In [2]:
def get_metrics(data, method):
    scores = []
    mapes = []
    for loop in data[method].keys():
        if loop.startswith('loop_'):
            scores.append(data[method][loop]['score'])
            mapes.append(data[method][loop]['mape'])
    return np.mean(scores), np.mean(mapes)

# Collect results from Boston dataset

In [7]:
data = joblib.load('ElasticNet_Boston.joblib')

results = []
label = 'Boston'
methods = list(data.keys())
results_row = [label]
for method in methods:
    score, mape = get_metrics(data, method=method)
    results_row.append(score)
results.append(results_row)

df_boston = pd.DataFrame(results, columns=['label'] + methods)
df_boston

,label,bmr1,bmr2,bmr3,bmr4,rf,svr,mars,catboost
0,Boston,4.856743,5.025575,6.994424,9.317795,3.227536,3.518396,4.739028,3.384901

# Collect results from Himmelblau function

In [3]:
ns = [50, 100, 500, 1000]
sigmas = [0.0, 0.01, 0.05, 0.1, 0.2]
results = []
label='Himmelblau'

for n in ns:
    for sigma in sigmas:
        filename = f'ElasticNet_Himmelblau_n{n}_sigma{sigma}.joblib'
        print(f'Reading {filename}')
        data = joblib.load(filename)
        methods = list(data.keys())
        results_row = [label, n, sigma]
        for method in methods:
            score, mape = get_metrics(data, method=method)
            results_row.append(score)
        results.append(results_row)

Reading ElasticNet_Himmelblau_n50_sigma0.0.joblib
Reading ElasticNet_Himmelblau_n50_sigma0.01.joblib
Reading ElasticNet_Himmelblau_n50_sigma0.05.joblib
Reading ElasticNet_Himmelblau_n50_sigma0.1.joblib
Reading ElasticNet_Himmelblau_n50_sigma0.2.joblib
Reading ElasticNet_Himmelblau_n100_sigma0.0.joblib
Reading ElasticNet_Himmelblau_n100_sigma0.01.joblib
Reading ElasticNet_Himmelblau_n100_sigma0.05.joblib
Reading ElasticNet_Himmelblau_n100_sigma0.1.joblib
Reading ElasticNet_Himmelblau_n100_sigma0.2.joblib
Reading ElasticNet_Himmelblau_n500_sigma0.0.joblib
Reading ElasticNet_Himmelblau_n500_sigma0.01.joblib
Reading ElasticNet_Himmelblau_n500_sigma0.05.joblib
Reading ElasticNet_Himmelblau_n500_sigma0.1.joblib
Reading ElasticNet_Himmelblau_n500_sigma0.2.joblib
Reading ElasticNet_Himmelblau_n1000_sigma0.0.joblib
Reading ElasticNet_Himmelblau_n1000_sigma0.01.joblib
Reading ElasticNet_Himmelblau_n1000_sigma0.05.joblib
Reading ElasticNet_Himmelblau_n1000_sigma0.1.joblib
Reading ElasticNet_Himmelblau_n1000_sigma0.2.joblib

In [4]:
df_himmel = pd.DataFrame(results, columns=['label', 'n', 'sigma'] + methods)
df_himmel

,label,n,sigma,bmr1,bmr2,bmr3,bmr4,rf,svr,mars,catboost
0,Himmelblau,50,0.00,0.071030,0.053923,0.030425,0.033214,0.054880,0.039766,0.101856,0.062207
1,Himmelblau,50,0.01,0.059634,0.048174,0.038891,0.038962,0.080379,0.050686,0.103957,0.057509
2,Himmelblau,50,0.05,0.106093,0.114554,0.140815,0.187529,0.085121,0.116303,0.114493,0.080499
3,Himmelblau,50,0.10,0.182762,0.221003,0.293140,0.396691,0.120245,0.149089,0.131980,0.131799
4,Himmelblau,50,0.20,0.346754,0.325840,0.668895,0.692703,0.229322,0.192121,0.227577,0.243938
5,Himmelblau,100,0.00,0.071907,0.068150,0.066699,0.066683,0.053773,0.007027,0.016620,0.043785
6,Himmelblau,100,0.01,0.082957,0.050967,0.021942,0.016342,0.061789,0.019660,0.057340,0.041796
7,Himmelblau,100,0.05,0.090989,0.093142,0.092479,0.118145,0.079263,0.072652,0.143632,0.079746
8,Himmelblau,100,0.10,0.211464,0.259940,0.349858,0.488020,0.134493,0.136839,0.167088,0.142729
9,Himmelblau,100,0.20,0.412168,0.488989,0.603375,0.800054,0.242238,0.218734,0.245531,0.276706
10,Himmelblau,500,0.00,0.025406,0.015076,0.006590,0.003536,0.028133,0.002888,0.010780,0.020845
11,Himmelblau,500,0.01,0.028060,0.019942,0.014465,0.012431,0.025479,0.010897,0.050332,0.019790
12,Himmelblau,500,0.05,0.057633,0.055280,0.057052,0.058575,0.060232,0.052486,0.070402,0.058692
13,Himmelblau,500,0.10,0.105374,0.107575,0.131037,0.116227,0.114178,0.107156,0.113178,0.113105
14,Himmelblau,500,0.20,0.224612,0.248688,0.262182,0.286471,0.227125,0.206274,0.234763,0.222656
15,Himmelblau,1000,0.00,0.015046,0.007135,0.005073,0.004732,0.020555,0.000858,0.005941,0.008211
16,Himmelblau,1000,0.01,0.032628,0.018977,0.012370,0.011111,0.023649,0.011021,0.013228,0.015063
17,Himmelblau,1000,0.05,0.059255,0.059210,0.059773,0.061762,0.060900,0.053906,0.063001,0.055870
18,Himmelblau,1000,0.10,0.116744,0.117723,0.119739,0.124650,0.115018,0.109464,0.108880,0.110107
19,Himmelblau,1000,0.20,0.226005,0.228563,0.229439,0.237153,0.225272,0.273232,0.215573,0.219463

# Collect results from Pawel dataset

In [5]:
sigmas = [0.0, 0.01, 0.02, 0.05, 0.1, 0.2]
results = []
label='Pawel'

for sigma in sigmas:
    filename = f'ElasticNet_Pawel_dataset_2_sigma{sigma}.joblib'
    print(f'Reading {filename}')
    data = joblib.load(filename)
    methods = list(data.keys())
    results_row = [label, sigma]
    for method in methods:
        score, mape = get_metrics(data, method=method)
        results_row.append(score)
    results.append(results_row)

Reading ElasticNet_Pawel_dataset_2_sigma0.0.joblib
Reading ElasticNet_Pawel_dataset_2_sigma0.01.joblib
Reading ElasticNet_Pawel_dataset_2_sigma0.02.joblib
Reading ElasticNet_Pawel_dataset_2_sigma0.05.joblib
Reading ElasticNet_Pawel_dataset_2_sigma0.1.joblib
Reading ElasticNet_Pawel_dataset_2_sigma0.2.joblib

In [6]:
df_pawel = pd.DataFrame(results, columns=['label', 'sigma'] + methods)
df_pawel

,label,sigma,bmr1,bmr2,bmr3,bmr4,rf,svr,mars,catboost
0,Pawel,0.00,0.003285,0.002765,0.003183,0.003846,0.000689,0.000991,0.004145,0.001800
1,Pawel,0.01,0.011298,0.011391,0.011621,0.010251,0.011073,0.009830,0.009923,0.010138
2,Pawel,0.02,0.019753,0.019875,0.020213,0.020638,0.021595,0.019529,0.019687,0.019917
3,Pawel,0.05,0.049688,0.049951,0.049682,0.052063,0.053896,0.048701,0.048330,0.049498
4,Pawel,0.10,0.098942,0.099019,0.102906,0.104646,0.107706,0.098115,0.096647,0.099108
5,Pawel,0.20,0.198941,0.200680,0.199874,0.204110,0.215249,0.195629,0.193296,0.197954