In [1]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
import warnings
import joblib

warnings.filterwarnings("ignore")
sys.path.insert(0,'..')

In [2]:
def get_metrics(data, method):
    scores = []
    mapes = []
    for loop in data[method].keys():
        if loop.startswith('loop_'):
            scores.append(data[method][loop]['score'])
            mapes.append(data[method][loop]['mape'])
    return np.mean(scores), np.mean(mapes)

# Collect results from Boston dataset

In [7]:
data = joblib.load('LM_Boston.joblib')

results = []
label = 'Boston'
methods = list(data.keys())
results_row = [label]
for method in methods:
    score, mape = get_metrics(data, method=method)
    results_row.append(score)
results.append(results_row)

df_boston = pd.DataFrame(results, columns=['label'] + methods)
df_boston

,label,bmr1,bmr2,bmr3,bmr4,rf,svr,mars,catboost
0,Boston,5.585553,4.592567,4.918663,5.683791,3.316859,3.518396,4.739028,3.384901

# Collect results from Himmelblau function

In [3]:
ns = [50, 100, 500, 1000]
sigmas = [0.0, 0.01, 0.05, 0.1, 0.2]
results = []
label='Himmelblau'

for n in ns:
    for sigma in sigmas:
        filename = f'LM_Himmelblau_n{n}_sigma{sigma}.joblib'
        print(f'Reading {filename}')
        data = joblib.load(filename)
        methods = list(data.keys())
        results_row = [label, n, sigma]
        for method in methods:
            score, mape = get_metrics(data, method=method)
            results_row.append(score)
        results.append(results_row)

Reading LM_Himmelblau_n50_sigma0.0.joblib
Reading LM_Himmelblau_n50_sigma0.01.joblib
Reading LM_Himmelblau_n50_sigma0.05.joblib
Reading LM_Himmelblau_n50_sigma0.1.joblib
Reading LM_Himmelblau_n50_sigma0.2.joblib
Reading LM_Himmelblau_n100_sigma0.0.joblib
Reading LM_Himmelblau_n100_sigma0.01.joblib
Reading LM_Himmelblau_n100_sigma0.05.joblib
Reading LM_Himmelblau_n100_sigma0.1.joblib
Reading LM_Himmelblau_n100_sigma0.2.joblib
Reading LM_Himmelblau_n500_sigma0.0.joblib
Reading LM_Himmelblau_n500_sigma0.01.joblib
Reading LM_Himmelblau_n500_sigma0.05.joblib
Reading LM_Himmelblau_n500_sigma0.1.joblib
Reading LM_Himmelblau_n500_sigma0.2.joblib
Reading LM_Himmelblau_n1000_sigma0.0.joblib
Reading LM_Himmelblau_n1000_sigma0.01.joblib
Reading LM_Himmelblau_n1000_sigma0.05.joblib
Reading LM_Himmelblau_n1000_sigma0.1.joblib
Reading LM_Himmelblau_n1000_sigma0.2.joblib

In [4]:
df_himmel = pd.DataFrame(results, columns=['label', 'n', 'sigma'] + methods)
df_himmel

,label,n,sigma,bmr1,bmr2,bmr3,bmr4,rf,svr,mars,catboost
0,Himmelblau,50,0.00,0.080917,0.046456,0.060816,0.040789,0.060267,0.039766,0.101856,0.062207
1,Himmelblau,50,0.01,0.086363,0.385390,0.083346,0.092369,0.079664,0.050686,0.103957,0.057509
2,Himmelblau,50,0.05,0.188520,0.617439,0.488184,0.588714,0.094563,0.116303,0.114493,0.080499
3,Himmelblau,50,0.10,0.354795,1.231828,0.985991,1.180590,0.129169,0.149089,0.131980,0.131799
4,Himmelblau,50,0.20,2.579441,1.013014,1.984865,14.577101,0.239729,0.192121,0.227577,0.243938
5,Himmelblau,100,0.00,0.078761,0.107822,0.037830,0.034517,0.067594,0.007027,0.016620,0.043785
6,Himmelblau,100,0.01,0.062641,2.498420,0.312344,0.226648,0.061789,0.019660,0.057340,0.041796
7,Himmelblau,100,0.05,0.088151,1.711128,2.171807,1.109725,0.092273,0.072652,0.143632,0.079746
8,Himmelblau,100,0.10,0.234586,17.930116,3.060224,2.187624,0.133308,0.136839,0.167088,0.142729
9,Himmelblau,100,0.20,0.468278,55.163968,6.249572,4.466395,0.240689,0.218734,0.245531,0.276706
10,Himmelblau,500,0.00,0.028242,0.008829,0.001235,0.000006,0.033148,0.002888,0.010780,0.020845
11,Himmelblau,500,0.01,0.029259,0.016422,0.021211,1.016123,0.025597,0.010897,0.050332,0.019790
12,Himmelblau,500,0.05,0.060014,0.060383,0.103234,3.645715,0.060401,0.052486,0.070402,0.058692
13,Himmelblau,500,0.10,0.128035,1.119066,0.233409,3.147870,0.116686,0.107156,0.113178,0.113105
14,Himmelblau,500,0.20,0.218671,2.235687,0.412792,27.505468,0.227125,0.206274,0.234763,0.222656
15,Himmelblau,1000,0.00,0.011325,0.049394,0.004539,0.001816,0.018290,0.000858,0.005941,0.008211
16,Himmelblau,1000,0.01,0.025370,0.014386,0.013753,0.061468,0.024365,0.011021,0.013228,0.015063
17,Himmelblau,1000,0.05,0.058819,0.056795,0.066722,37.137105,0.061155,0.053906,0.063001,0.055870
18,Himmelblau,1000,0.10,0.116278,0.124492,6.048085,14.792315,0.115471,0.109464,0.108880,0.110107
19,Himmelblau,1000,0.20,0.221297,0.384093,0.690395,32.907421,0.223718,0.273232,0.215573,0.219463

# Collect results from Pawel dataset

In [5]:
sigmas = [0.0, 0.01, 0.02, 0.05, 0.1, 0.2]
results = []
label='Pawel'

for sigma in sigmas:
    filename = f'LM_Pawel_dataset_2_sigma{sigma}.joblib'
    print(f'Reading {filename}')
    data = joblib.load(filename)
    methods = list(data.keys())
    results_row = [label, sigma]
    for method in methods:
        score, mape = get_metrics(data, method=method)
        results_row.append(score)
    results.append(results_row)

Reading LM_Pawel_dataset_2_sigma0.0.joblib
Reading LM_Pawel_dataset_2_sigma0.01.joblib
Reading LM_Pawel_dataset_2_sigma0.02.joblib
Reading LM_Pawel_dataset_2_sigma0.05.joblib
Reading LM_Pawel_dataset_2_sigma0.1.joblib
Reading LM_Pawel_dataset_2_sigma0.2.joblib

In [6]:
df_pawel = pd.DataFrame(results, columns=['label', 'sigma'] + methods)
df_pawel

,label,sigma,bmr1,bmr2,bmr3,bmr4,rf,svr,mars,catboost
0,Pawel,0.00,0.000085,2.096374e-12,1.201827e-06,3.742532e-05,0.000698,0.000991,0.004145,0.001800
1,Pawel,0.01,0.011451,2.110918e+01,2.478515e+05,1.131650e+05,0.011095,0.009830,0.009923,0.010138
2,Pawel,0.02,0.022903,4.221836e+01,4.957030e+05,5.967962e+06,0.021606,0.019529,0.019687,0.019917
3,Pawel,0.05,0.057204,1.055459e+02,1.239258e+06,4.857804e+06,0.053866,0.048701,0.048330,0.049498
4,Pawel,0.10,0.101145,8.482105e-01,4.438602e+06,9.715607e+06,0.107602,0.098115,0.096647,0.099108
5,Pawel,0.20,0.228985,4.221836e+02,4.957030e+06,1.390736e+08,0.215249,0.195629,0.193296,0.197954